<div id="dashboard_div" ng-controller="DashboardController">
  <div id="dashboard_content">
    <div id="ident_div">
      <p>Nome: {{ nome }}</p>
      <p>E-mail: {{ email }}</p>
    </div>
    <div id="dash_btn">
      <a ng-click="ProjectDiv()">Projetos</a>
      <a ng-click="AlterarDiv()">Alterar informações da sua conta</a>
      <a href="/download/Bugsnitch.tar.gz">Download</a>
    </div>
    <div id="dash_projeto_div" ng-show="projetoDiv">
      <h1>Projetos</h1>
      <br />
      <table width="900">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Área</th>
            <th>Status</th>
            <th>Data de Início</th>
            <th>Data de Finalização</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in projeto">
            <td>{{ p.descricao }}</td>
            <td>{{ p.area }}</td>
            <td>{{ p.status }}</td>
            <td>{{ p.data_inicio }}</td>
            <td>{{ p.data_fim }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="dash_alterar_conta_div" ng-show="alterarContaDiv">
      <h3>Alterar informações da sua conta</h3>
      <a ng-click="DeletarDiv()" class="deletar_btn">Deletar Conta</a>
      <div id="alterar_div">
        <form class="alterar_form">
          <ul>
            <li><input type="text" placeholder="Nome" ng-model="usuario.nome" /></li>
            <li><input type="text" placeholder="E-mail" ng-model="usuario.email" /></li>
            <li><input type="password" placeholder="Senha" ng-model="usuario.senha" /></li>
            <li><input type="password" placeholder="Confirme a Senha" ng-model="confSenha" /></li>
            <li><button ng-click="Alterar()">Alterar</button></li>
            <p class="error_msg">{{ alterarErrMsg }}</p>
          </ul>
        </form>
      </div>
    </div>
    <div id="dash_deletar_conta_div" ng-show="deletarContaDiv">
      <h1>Deletar conta</h1>
      <div id="deletar_div">
        <form class="deletar_form">
          <ul>
            <li><input type="password" placeholder="Senha" ng-model="delSenha" /></li>
            <li><input type="password" placeholder="Confirme a Senha" ng-model="delConfSenha" /></li>
            <li><button ng-click="Deletar()">Deletar</button></li>
            <p class="error_msg">{{ deletarErrMsg }}</p>
          </ul>
        </form>
      </div>
      <br />
    </div>
  </div>
</div>
