<div id="dashboard_div" ng-controller="DashboardController">
  <div id="dashboard_content">
    <div id="ident_div">
      <p>Nome: {{ nome }}</p>
      <p>E-mail: {{ email }}</p>
    </div>
    <div id="dash_btn">
      <a href="#/">Alterar informações da sua conta</a>
      <a href="#/">Download</a>
    </div>
    <div id="dash_projeto_div">
      <h1>Projetos</h1>
      <br />
      <table width="900">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Área</th>
            <th>Status</th>
            <th>Data de Início</th>
            <th>Data de Finalização</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in projeto">
            <td>{{ p.descricao }}</td>
            <td>{{ p.area }}</td>
            <td>{{ p.status }}</td>
            <td>{{ p.data_inicio }}</td>
            <td>{{ p.data_fim }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
