<div id="equipe_div">
  <h1 class="intro_text">Equipe</h1>
  <div id="equipe_img_div">
    <table width="600" height="300">
      <tr>
        <td>
          <img src="img/isaac.jpg" class="equipe_img" />
          <ul>
            <li><h3 class="equipe_nome">Isaac Pinheiro</h3></li>
            <li><span class="equipe_cargo">Full Stack Developer</span></li>
          </ul>
        </td>
        <td>
          <img src="img/guilherme.jpg" class="equipe_img" />
          <ul>
            <li><h3 class="equipe_nome">Guilherme Melro Salim</h3></li>
            <li><span class="equipe_cargo">Java Developer</span></li>
          </ul>
        </td>
        <td>
          <img src="img/geovani.jpg" class="equipe_img" />
          <ul>
            <li><h3 class="equipe_nome">Geovani Anacleto Silva</h3></li>
            <li><span class="equipe_cargo">Java Developer & Tester</span></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img src="img/mikael.jpg" class="equipe_img" />
          <ul>
            <li><h3 class="equipe_nome">Mikael Alves Monteiro</h3></li>
            <li><span class="equipe_cargo">Piadista & BlackBerry Fan Boy</span></li>
          </ul>
        </td>
        <td>
          <img src="img/andre.jpg" class="equipe_img" />
          <ul>
            <li><h3 class="equipe_nome">André Gama Leal</h3></li>
            <li><span class="equipe_cargo">"O Pontual!!"</span></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
