<div id="sobre_div">
  <h1 class="intro_text">Sobre o BugSnitch</h1>
  <div id="sobre_content">
    <p class="sobre_text">
      BugSnitch é uma plataforma colaborativa para a resolução de bugs
      no desenvolvimento de sistemas computacionas. Nesta plataforma os usuários
      podem cadastrar projetos e reportarem os bugs presentes em cada projeto,
      além de poderem adicionar as pessoas envolvidas nos projetos atribuindo
      graus de acesso a cada uma delas. <br /><br />
      Ao reportar um bug, o usuário fornece informações como, por exemplo, o
      resumo do problema encontrado, a prioridade, e a severidade, podendo enviar
      anexos se necessário. Os demais usuários podem colaborar para a resolução dos
      bugs através dos comentários, podendo também enviar anexos se necessário.
    </p>
    <img src="img/code.png" class="code_img" />
  </div>
</div>
