<div id="termos_div">
  <h1 class="intro_text">Termos de Uso</h1>
  <div id="termos_content">
    <p class="termos_text">
      BugSnitch é apenas um trabalho acadêmico, por isso não há a necessidade
      de muitos termos para o uso do aplicativo.<br /><br />
      Para utilizar o BugSnitch é necessário fornecer as seguintes informações:
      Nome completo do usuário, E-mail, e a senha em que o usuário utilizará para
      acessar o sistema.<br /><br />
      As informações fornecidas pelos usuários serão tratadas com sigilo.<br /><br />
      Equipe BugSnitch.
    </p>
  </div>
</div>
